.body{

    font-family: Arial;
    overflow: scroll;
    background-color: #EBF4FB;
    height: 100%;

}

.menu-container {
    display: flex;
    position: relative;
}

.menu-header {
    width: 250px; /* Largeur du menu vertical */
    color: black;
    position: fixed; /* Menu fixé à gauche */
    height: 100%; /* Hauteur à 100% de la fenêtre */
    top: 150px; /* Ajustez cette valeur pour abaisser le menu */
}

.vertical-menu {
    list-style-type: none;
    padding: 0;
}

.vertical-menu li {
    padding: 30px;
    text-align: center;
}

.btnCreation{

    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border: none;
    font-size: 16px;

}

/* Styles pour le contenu principal à droite (titre et logo) */
.header-content {
    flex: 1;
    padding: 20px; /* Espacement entre le menu et le contenu principal */
    margin-left: 250px; /* Marge à gauche pour ne pas être caché par le menu */
    box-sizing: border-box; /* Inclusion de la marge dans la largeur */
}

.title {
    text-align: center;
}

.logo {
    display: block;
    margin: 0 auto;
    position: absolute;
    width: 170px;
    height: 90px;
    bottom: 20px;
    left: 80px;
}

.rectangle-haut {
    width: 900px;
    height: 80px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 55%;
    z-index: 0;
    padding: 10px;
    text-align: center;
}

.nbrEtu{

    transform: translate(-50%,-50%);
    font-size: small;
    position: absolute;
    left: 20%;

}

.nbrEnt{

    transform: translate(-50%,-50%);
    font-size: small;
    position: absolute;
    left: 40%;

}

.nbrOff{

    transform: translate(-50%,-50%);
    font-size: small;
    position: absolute;
    left: 60%;

}

.nbrPers{

    transform: translate(-50%,-50%);
    font-size: small;
    position: absolute;
    left: 80%;

}

.rectangle-mid {
    width: 880px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    position: absolute;
    top: calc(40% + 30px);
    left: 835px;
    margin-left: -450px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.etu {
    background-color: #EBF4FB;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    list-style-type: none;
}


ul {
    padding: 0;
    margin: 0;
}

#rechercheForm {
    margin-top: 10px;
    margin-bottom: 10px;
}

#dataTable {
    width: 100%;
    border-spacing: 0;
    margin: 20px auto;
}

#dataTable th,
#dataTable td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

#dataTable th.colonne {
    background-color: #EBF4FB;
    color: black;
}

#dataTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#dataTable tbody tr:hover {
    background-color: #ddd;
}

#burgerMenu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: scroll;
    transition: 0.5s;
    padding-top: 60px;
}

#profileInfo {
    padding: 20px;
}

.menu-burger {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #f8f9fa;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1;
}

.menu-burger a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #343a40;
    display: block;
    transition: 0.3s;
}

.menu-burger a:hover {
    color: #007bff;
}

.close-btn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
    margin-right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.menu-content {
    padding: 20px;
    max-height: 80vh; /* Adjust as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}

.btnAjoutEtu {
    text-decoration: none;
    color: black;
    border: none;
    background-color: #EBF4FB;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: box-shadow 0.3s ease; /* Ajout d'une transition pour une animation plus fluide */
}

.btnAjoutEtu:hover {
    text-decoration: none;
    color: black;
    border: none;
    background-color: #EBF4FB;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 10px #333333; /* Ajout de l'ombre lors du survol */
}

.btnRechercheEtu {
    text-decoration: none;
    color: black;
    border: none;
    background-color: #EBF4FB;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: box-shadow 0.3s ease; /* Ajout d'une transition pour une animation plus fluide */
    margin-top: 5px;
}

.btnRechercheEtu:hover {
    text-decoration: none;
    color: black;
    border: none;
    background-color: #EBF4FB;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 10px #333333; /* Ajout de l'ombre lors du survol */
}







