/* Style de base pour le formulaire */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#formulaire {
    width: 300px; /* Réduire la largeur du formulaire */
    padding: 20px; /* Ajouter un peu d'espace intérieur */
    border: 1px solid #ccc; /* Ajouter une bordure */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Ajouter une ombre */
    background-color: #f9f9f9; /* Ajouter une couleur de fond */
    text-align: center; /* Centrer le texte */
}

/* Style pour les étiquettes de champ */
label {
    font-weight: bold;
    display: block; /* Afficher les étiquettes sur une nouvelle ligne */
    margin-bottom: 5px; /* Ajouter un peu d'espace entre les étiquettes */
}

/* Style des champs de saisie */
.input {
    width: 400px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Ajouter une bordure aux champs */
    border-radius: 5px; /* Ajouter des coins arrondis */
}

/* Style pour le bouton d'enregistrement */
#ajoutEtudiant {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Style pour le message d'erreur */
#message {
    color: red;
}

/* Supprimer les puces des listes à puces */
ul {
    list-style: none;
    padding: 0;
}
