.body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    background-image: url('../img/banniere.png');
    background-size: cover;
    backdrop-filter: brightness(75%) blur(10px);
}

.message {
    text-align: center;
    display: flex;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 40px;
    height: 5em;
}
.message img {
    height: inherit;
    width: auto;
}
.message h2 {
    margin: 0;
    width: 12em;
}

.btns {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.square-link {
    text-decoration: none; /* Supprimer le soulignement des liens */
    color: inherit; /* Utiliser la couleur du texte parent (blanc) */
    margin: 0 40px; /* Espace entre les carrés */
}

.square {
    width: 150px; /* Largeur du carré */
    height: 50px; /* Hauteur du carré */
    background-color: #ffffff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.square:hover {
    background-color: #008CAD;
    color: white;
    transition: 0.3s ease;
}

.square p {
    margin: 0;
    font-size: 1rem; /* Taille du texte */
    color: inherit;
}

.btnRetour, .creationEtu, .connectionEtu{

    text-decoration: none;
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
    background-color: #808080; /* Fond transparent */
    border: none; /* Supprimer le contour */
    font-family: Arial, sans-serif; /* Changer la police d'écriture en Arial */
    font-size: 16px; /* Taille de la police */
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 110px;
    height: 45px;
    border-radius: 45px;
    transition: box-shadow 0.3s ease;
    font-weight: bold;
    z-index: 999;

}

.btnRetour:hover,  .creationEtu:hover, .connectionEtu:hover{

    text-decoration: none;
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
    background-color: #808080; /* Fond transparent */
    border: none; /* Supprimer le contour */
    font-family: Arial, sans-serif; /* Changer la police d'écriture en Arial */
    font-size: 16px; /* Taille de la police */
    color: black;
    cursor: pointer;
    border-radius: 45px;
    box-shadow: 0 0 10px #333333;
    transition: box-shadow 0.3s ease;
    font-weight: bold;
    z-index: 999;

}

.connexionAdmin{

    text-decoration: none;
    border: none;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 40px;
    width: 120px;
    color: white;
    background-color: rgba(255, 255, 255, 0.3); /* Couleur grise transparente */
    position: absolute;
    transform: translate(-50%,-50%);
    top: 70%;
    left: 50%;

}

