<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Principale</title>

    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <link rel="icon" href="../assets/img/logo.png" type="image/x-icon">
</head>
<body class="body">

<header class="header">

</header>

<div class="message">
    <h2>Bienvenue dans notre gestionnaire des candidats en alternance</h2>
    <img src="../assets/img/logo.png" alt="Logo de l'entreprise">
</div>
<div class = btns>
    <a href="../Controller/ControllerCaptcha.php" class="square-link">
        <div class="square">
            <p>connexion</p>
        </div>
    </a>

    <a href="ViewNouvCompte.php" class="square-link">
        <div class="square">
            <p>inscription</p>
        </div>
    </a>
</div>


</body>
</html>
